@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%; /* Dark Gray #212121 */
    --foreground: 210 40% 98%;
    --card: 0 0% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 100% 74%; /* Electric Blue #7DF9FF */
    --primary-foreground: 0 0% 13%;
    --secondary: 330 100% 71%; /* Hot Pink #FF69B4 */
    --secondary-foreground: 0 0% 13%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 330 100% 71%; /* Hot Pink #FF69B4 */
    --accent-foreground: 0 0% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 181 100% 74%;
    --radius: 0.3rem;
  }
 
  .dark {
    --background: 0 0% 13%;
    --foreground: 210 40% 98%;
    --card: 0 0% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 100% 74%;
    --primary-foreground: 0 0% 13%;
    --secondary: 330 100% 71%;
    --secondary-foreground: 0 0% 13%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 330 100% 71%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 181 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-glow-primary {
    color: hsl(var(--primary));
    text-shadow: 0 0 8px hsl(var(--primary) / 0.9);
  }
}
